.main{
  max-width: 600px;
  margin: 20px auto;
  width: 100%;
}
.card-div{
  img{
    width: 100px;
    height: 100px;
    margin-right: 20px;
    border: 1px solid #7D7D7D;
  }
}
.sub{
  height: 800px;
  overflow: auto;
}
